%body
  %header.section-header
    %section.header-main
      .container
        .row.align-items-center
          .col-lg-5-24.col-sm-5.col-4
            .brand-wrap
              = link_to image_tag('logos/logo.png', width:'205', height:'50'), root_path
          .col-lg-13-24.col-sm-12.order-3.order-lg-2
            %form{url: root_path, method: :get}
              .input-group.w-100
                %input.form-control{:placeholder => "Search", name: "search", :style => "width:60%;", :type => "text"}/
                .input-group-append
                  %button.btn.btn-primary{:type => "submit", :title => "search"}
                    %i.fa.fa-search
          .widgets-wrap.col-lg-6-24.col-sm-7.col-8.order-2.order-lg-3
            .widget-header.dropdown
              - if current_user
                %a{"aria-expanded" => "false", "data-offset" => "20,10", "data-toggle" => "dropdown", :href => "#"}
                  .icontext
                    .icon-wrap.icon-sm.round.border
                      %i.fa.fa-user
                  .dropdown-menu.dropdown-menu-right{:style => "position: absolute; transform: translate3d(-120px, 44px, 0px); top: 0px; left: 0px; will-change: transform;", "x-placement" => "bottom-end"}
                    %li
                      = link_to("My account", dashboard_user_path(current_user.id), :class => "dropdown-item")
                    - if current_user.stripe_account_id
                      %li
                        = link_to("Store", dashboard_products_path, :class => "dropdown-item")
                      %li
                        = link_to("Order", dashboard_orders_path, :class => "dropdown-item")
                    %li
                      = link_to("Log Out", destroy_user_session_path, :class => "dropdown-item")
              - else
                = link_to 'Sign In', new_user_session_path
                %span.dark-transp
                |
                = link_to 'Register', new_user_registration_path
  %br/
