= simple_form_for [:dashboard, @product] do |f|
  = f.input :name
  = f.input :price
  = f.input :description
  .row
    .col-md-6
      = f.input :cover_product, wrapper: "custom_file"
    .col-md-5.offset-md-1
      .cover_product#cover_product
        - if @product.cover_product.attached?
          = link_to fa_icon("trash"), delete_attachment_dashboard_product_path(@product), method: :delete, data: { confirm: 'Are you sure?' }
          = image_tag(@product.cover_product, width: 100, height: 100, id: "image-preview")
        - else
          = image_tag("https://via.placeholder.com/150")
  = f.button :submit, "Update", :class => "btn btn-primary"
  = link_to "Cancel", dashboard_products_path, :class => "btn btn-outline-info"
