= simple_form_for [:dashboard, @product] do |f|
  = f.input :name
  = f.input :price
  = f.input :description
  = f.input :cover_product
  = f.button :submit, "Create", :class => "btn btn-primary"
  = link_to "Cancel", dashboard_products_path, :class => "btn btn-outline-info"
