.main-content
  %section#products
    #code_cart
      .card
        .card-body
          %h4.card-title.mb-4.mt-1 Order History
          %table.table.table-hover.shopping-cart-wrap
            %thead.text-muted
              %tr
                %th{:scope => "col"} Order Id
                %th{:scope => "col"} Product
                %th{:scope => "col"} Charge
                %th{:scope => "col", :width => "120"} Total
                %th{:scope => "col"} Status
                %th{:scope => "col"} Created At
            %tbody
              - @orders.each do |order|
                %tr
                  %td
                    = link_to order.id, dashboard_order_path(order.id)
                  %td
                    = order.product.first.name
                  %td
                    .description-wrap
                      = order.charge_id
                  %td
                    .price-wrap
                      %var.price= number_to_currency(order.amount)
                  %td
                    = order.status
                  %td
                    = order.created_at
