.row
  %main.col-sm-6.col-md-6.offset-md-1
    .card
      .order
        %ul.order-list
          %li
            - if @product.cover_product.attached?
              = image_tag(@product.cover_product, :class => "img-thumbnail img-sm")
            - else
              = image_tag("https://via.placeholder.com/163", :class => "img-thumbnail img-sm")
            %h4= @product.name
            %p= @product.description
        %h5.total Price
        %h2 $ #{@product.price}
  %div.col-sm-4.col-md-4
    %h4 Payment Information
    %figure.mb-3
      .row
        .col
          .alert.alert-danger.d-none{ role: "alert", data: { name: "errorMessages"} }
          %input#bongloy-account-id{ :type => "hidden", :value => @product.user.bongloy_account_id }
          = simple_form_for(:new_charge, url: product_charges_path, wrapper: :input_group, :html => {:autocomplete => "on", :data => { name: "paymentForm" }}) do |f|
            = f.input :token, as: :hidden, input_html: { data: { name: "cardToken" } }
            = f.input :card_number, prepend: "<i id='card-brand-icon' class='pf pf-credit-card'></i>".html_safe, hint: "Use a sample card number listed below", as: :tel, placeholder: "Card Number", label: false, input_html: {name: nil, id: "cardNumber", data: { name: "cardNumber", target: "card-brand-icon" } }
            .row
              .col
                = f.input :expiry, as: :tel, placeholder: "Expiry", label: false, input_html: {name: nil, id: "cardExpiry", data: { name: "cardExpiry" } }
              .col
                = f.input :cvc, as: :tel, placeholder: "CVC", label: false, input_html: {name: nil, id: "cardCVC", data: { name: "cardCVC" }, maxLength: 3 }
            .row
              .col
                = f.button(:submit, "Buy", class: "btn btn-success float-right")
.row.pt-5
  .col-md-12
    = render "shared/test_cards"
= stylesheet_link_tag "payment_form"
= javascript_include_tag "payment_form"

