!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Bongloy Marketplace
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_include_tag("https://staging-sandbox.bongloy.com/v3")
    = tag(:meta, name: "bongloy-publishable-key", content: Rails.application.credentials.bongloy_publishable_key)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.relative
    = render "shared/navbar"
    .container
      - flash.each do |type, value|
        .alert.alert-dismissible.fade.show{:role => "alert", class: flash_type_class(type)}
          %strong #{value}
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×
      = yield
